<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">El mejor BAR de Quito!</h2>
                <hr class="light">
                <p class="text-faded">Av.Eloy Alfaro y 6 de Diciembre</p>
                <p class="text-faded">Av. Portugal 440 y, Quito 170122</p>
                <p class="text-faded">HORARIOS DE ATENCION</p>
                <p class="text-faded">Lunes	19:00–1:30</p>
                <p class="text-faded">Martes	19:00–12:30</p>
                <p class="text-faded">miércoles	19:00–10:30</p>
                <p class="text-faded">Jueves	18:00–1:30</p>
                <p class="text-faded">Viernes	19:00–1:30</p>
                <p class="text-faded">Sabado	18:00–2:30</p>
                <p class="text-faded">Domingo   19:00–3:30</p>
                <a href="" class="btn btn-default btn-xl">TE ESPERAMOS!!</a>
            </div>
        </div>
    </div>
</section>
